VITE_SUPABASE_URL=https://rbhxqgkawgxnzkayzqze.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJiaHhxZ2thd2d4bnprYXl6cXplIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU4MDIxNjksImV4cCI6MjA5MTM3ODE2OX0.AQvpL134jyXKgXzRKPB7D8y1EySBV_Sy2Pbvi47PEu0
VITE_SUPABASE_STORAGE_BUCKET=leo-gym-media
